.navi {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: min(5vh, 10%);
    gap: 0.5em;
    left: calc(50% - 180px);
    z-index: 10;
}

nav.navi a {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: .15em;
    font-weight: 400;
}

nav.navi a.link {
    color: #0000009a;
    background-color: #333;
    backdrop-filter: blur(16px);
    opacity: 1;
}

nav.navi a.link:hover {
    color: #000;
    background-color: #d7d7d7ce;
    opacity: 1;
}

.navi a.link:hover>.navi a.link:not(:hover) {
    opacity: 0.3;
}

.logo {
    width: 150px;
    background-color: transparent;
    margin-top: 16px;
}

.logo:hover {
    background-color: transparent;
}